*{
	margin: 0;
	box-sizing: border-box;
}
body{
	background: linear-gradient(-45deg, #F5F7F8, #01204E, #163020, #ECCA9C);
  	animation: gradient 15s ease infinite;
  	background-size: 400% 400%;
	min-height: 100vh;
	color: #fff;
	font-family: sans-serif;	
}
@keyframes gradient {
	0% {
    	background-position: 0% 50%;
    }
    50% {
    	background-position: 100% 50%;
    }
    100% {
    	background-position: 0% 50%;
    }
}
hr {
	margin-bottom: 15px;
	border-color: #EEEEEE;
}
#checkers {
	font-family: Courier New;
	position: fixed;
	bottom: 550px;
	right: 140px;
	color: #fff;
	border: 4px solid transparent;
  	box-shadow: 5px 10px 18px #ECCA9C;
  	background: linear-gradient(to right, #59B4C3 , #ECCA9C); 
  	background-clip: padding-box, border-box;
  	background-origin: padding-box, border-box;
	padding: 15px;
	border-radius: 15px;
}
.header{
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	padding: 15px 0;
	& #countrycity_input{
		position: relative;
		bottom: 125px;
		right: 1px;
		border-color: #DEAC80;
		background-color: transparent;
		border: groove solid;
		padding: 12px;
		font-size: 16px;
		border-radius: 15px;
		color: #fff;
		&:focus{
			outline: none;
		}
	}
	& #checkweatherBtn{
		position: relative;
		bottom: 125px;
		right: 1px;
		border-color: #fff;
		border: none;
		font-size: 16px;
		padding: 12px;
		border-radius: 25px;
		background-color: #AB886D;
		cursor: pointer;
		color: #fff;
	}
}
#checkweatherBtn:hover{
	background-color: #DEAC80;
	color: #fff;
	transition-delay:0.1s;
}
.container {
	position: fixed;
  	width: 600px; 
  	height: auto;
  	top: 50%; 
  	left: 50%;
  	transform: translate(-50%, -50%);
  	display: flex;
  	flex-direction: column; 
  	align-items: center;
  	gap: 20px; 
}
.cardToday{
  	border-style: solid;
  	box-shadow: 5px 10px 18px black;
	border-image: linear-gradient(to right, #59B4C3 0%, #ECCA9C 100%) 1;
  	padding: 30px;
  	background-color: transparent;
  	height: 300px; 
  	position: relative;
  	bottom: 160px;
  	left: 10%;
  	width: 500px;
  	& p {
  		font-size: 20px;
  		color: #EEEEEE;
  	}
  	& h2 {
  		font-size: 50px;
  		font-weight: 500;
  	}
}
.cardHumidity{
  	border-style: solid;
  	box-shadow: 5px 10px 18px black;
	border-image: linear-gradient(to right, #59B4C3 0%, #ECCA9C 100%) 1;
  	padding: 30px;
  	border-radius: 15px;
  	background-color: transparent;
  	height: 150px;
  	position: relative;
  	top: 160px;
  	right: 460px;
  	width: 500px;
  	& p {
  		font-size: 25px;
  		color: #EEEEEE;
  	}
  	& h2 {
  		font-size: 50px;
  		font-weight: 500;
  	}
}
.cardwindSpeed{
  	border-style: solid;
  	box-shadow: 5px 10px 18px black;
	border-image: linear-gradient(to right, #59B4C3 0%, #ECCA9C 100%) 1;
  	padding: 30px;
  	border-radius: 15px;
  	background-color: transparent;
  	height: 150px;
  	position: relative;
  	top: 330px;
  	right: 975px;
  	width: 500px;
  	& p {
  		font-size: 25px;
  		color: #EEEEEE;
  	}
  	& h2 {
  		font-size: 50px;
  		font-weight: 500;
  	}
}
.weatherData{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 12px;
	& .weatherLeft{
		grid-column: span 1;
		& .weatherCurrent{
			display: flex;
			justify-content: space-between;
			align-items: center;
			& p{
				font-size: 25px;
				color: #EEEEEE;
			}
			& img{
				width: 150px;
			}
		}
		& .todayBottom{
			font-size: 14px;
			margin-bottom: 12px;
		}
	}
	& .weatherRight{
		grid-column: span 3;
		& .weatherHighlights{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 15px;
			& .cardHead{
				display: flex;
				justify-content: space-between;
				margin-bottom: 10px;
			}
			& .cardItem{
				display: flex;
				justify-content: space-between;
			}
		}
	}
}
