*{
	margin: 0;
	box-sizing: border-box;
}
body{
	background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)),url('weather background.png');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	min-height: 100vh;
	color: #fff;
	font-family: sans-serif;	
}
hr {
	margin-bottom: 15px;
	border-color: #EEEEEE;
}
#checkers {
	position: fixed;
	bottom: 550px;
	left: 145px;
	color: #EEEEEE;
	border-style: solid;
	background-color: transparent;
	padding: 15px;
	border-radius: 15px;
}
.header{
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	padding: 15px 0;
	& #countrycity_input{
		position: relative;
		bottom: 130px;
		left: 1px;
		border-color: #4CC9FE;
		background-color: transparent;
		border: groove solid;
		padding: 12px;
		font-size: 16px;
		border-radius: 25px;
		color: #fff;
		&:focus{
			outline: groove lightblue;
		}
	}
	& #checkweatherBtn{
		position: relative;
		bottom: 130px;
		left: 1px;
		border-color: #fff;
		border: none;
		font-size: 16px;
		padding: 12px;
		border-radius: 25px;
		background-color: #0D92F4;
		cursor: pointer;
		color: #fff;
	}
}
#checkweatherBtn:hover{
	box-shadow: 5px 10px 18px lightblue;
	background-color: transparent;
	color: #fff;
	transition-delay:0.1s;
}
.container {
	position: fixed;
  	width: 600px; /* Set a width that fits all the cards */
  	height: auto;
  	top: 50%; /* Center vertically */
  	left: 50%; /* Center horizontally */
  	transform: translate(-50%, -50%);
  	display: flex;
  	flex-direction: column; /* Stack the cards vertically */
  	align-items: center;
  	gap: 20px; /* Spacing between cards */
}
.cardToday{
  	border-style: solid;
  	box-shadow: 5px 10px 18px lightblue;
  	border-color: #fff;
  	padding: 30px;
  	border-radius: 15px;
  	background-color: transparent;
  	height: 300px; 
  	position: relative;
  	bottom: 160px;
  	left: 10%;
  	width: 500px;
  	& p {
  		font-size: 20px;
  		color: #EEEEEE;
  	}
  	& h2 {
  		font-size: 50px;
  		font-weight: 500;
  	}
}
.cardHumidity{
  	border-style: solid;
  	box-shadow: 5px 10px 18px lightblue;
  	border-color: #fff;
  	padding: 30px;
  	border-radius: 15px;
  	background-color: transparent;
  	height: 150px;
  	position: relative;
  	top: 160px;
  	right: 435px;
  	width: 450px;
  	& p {
  		font-size: 25px;
  		color: #EEEEEE;
  	}
  	& h2 {
  		font-size: 50px;
  		font-weight: 500;
  	}
}
.cardwindSpeed{
  	border-style: solid;
  	box-shadow: 5px 10px 18px lightblue;
  	border-color: #fff;
  	padding: 30px;
  	border-radius: 15px;
  	background-color: transparent;
  	height: 150px;
  	position: relative;
  	top: 330px;
  	right: 900px;
  	width: 450px;
  	& p {
  		font-size: 25px;
  		color: #EEEEEE;
  	}
  	& h2 {
  		font-size: 50px;
  		font-weight: 500;
  	}
}
.weatherData{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 12px;
	& .weatherLeft{
		grid-column: span 1;
		& .weatherCurrent{
			display: flex;
			justify-content: space-between;
			align-items: center;
			& p{
				font-size: 25px;
				color: #EEEEEE;
			}
			& img{
				width: 150px;
			}
		}
		& .todayBottom{
			font-size: 14px;
			margin-bottom: 12px;
		}
	}
	& .weatherRight{
		grid-column: span 3;
		& .weatherHighlights{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 15px;
			& .cardHead{
				display: flex;
				justify-content: space-between;
				margin-bottom: 10px;
			}
			& .cardItem{
				display: flex;
				justify-content: space-between;
			}
		}
	}
}